[submodule ".oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = ./zsh-syntax-highlighting
[submodule "maven-pom-mode"]
	path = maven-pom-mode
	url = https://github.com/m0smith/maven-pom-mode.git
