[submodule ".oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "maven-pom-mode"]
	path = maven-pom-mode
	url = https://github.com/m0smith/maven-pom-mode.git
[submodule "https://github.com/zsh-users/zsh-syntax-highlighting.git"]
	path = .zsh-syntax
	url = ./.zsh-syntax
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule ".my-zsh"]
	path = .my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
